extend includes/base.pug

block title
    | Размещайка

block body
  header.header
    include sections/header.pug
  main.main
    include sections/main.pug
  footer.footer
    include sections/footer.pug