.banner-modal
  .banner-modal__container
    .banner__text-container
      .banner__text--head
        h1 Выберите город
      .banner__text--subhead
        h2 в котором вы ищите общежитие
    .banner-modal--dropdown
      .dropdown
        button.dropbtn
        .dropdown-content#myDropdown
          a(href="http://#") Link1
          a(href="http://#") Link2
          a(href="http://#") Link3
    .banner-modal--button
      include ../components/button.pug
    

  