.banner {
  &-modal {
    padding: 20px 15px;
    width: 50%;
    align-self: center;
    position: absolute;
    top: 367px;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 8px -6px rgba(0,0,0,0.29);
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .banner__text--head {
        line-height: 2rem;
        font-size: 2rem;
      }
      .banner__text--subhead {
        font-size: 1rem;
      }
    }
    &--dropdown {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* Dropdown Button */
    .dropbtn {
      width: 95%;
      height: 40px;
      position: relative;
      padding: 5px 20px;
      border: 1px solid #c5c5c5;
      border-radius: 3px;
      background-color: #fff;
      color: #000;
      font-size: 16px;
      cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;} 
    
    &--button {
      padding-top: 20px;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 353px) {
  .banner {
    &-modal {
      padding: 20px 15px;
      width: 95%;
      top: 265px;
    }
  }
}
@media only screen and (min-width: 354px) and (max-width: 480px) {
  .banner {
    &-modal {
      padding: 20px 15px;
      width: 95%;
      top: 410px;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 611px) {
  .banner {
    &-modal {
      padding: 20px 15px;
      width: 95%;
      top: 490px;
    }
  }
}
@media only screen and (min-width: 612px) and (max-width: 768px) {
  .banner {
    &-modal {
      padding: 20px 15px;
      width: 95%;
      top: 420px;
      &__container {
        flex-direction: row;
        .banner__text--head {
          font-size: 1.8rem;
          text-align: start;
        }
        .banner__text--subhead {
          padding-top: 5px;
          font-size: 1rem;
          text-align: start;
        }
      }
      &--button {
        padding-top: 0px;
      }
    }
  }
}